<h1><%= @question.title %></h1>
<p>
  <%= @question.content %>
</p>

<p><%= link_to "Edit", edit_question_path(@question) %></p>
<p><%= link_to "Delete", question_path(@question), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>
<p><%= link_to "Home", questions_path %></p>
